pkgbase = keychron-launcher
	pkgdesc = Unofficial native desktop wrapper for the Keychron Launcher web app (launcher.keychron.com), with WebHID support
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/RaulKong898/keychron-launcher-desktop
	arch = any
	license = MIT
	depends = electron
	optdepends = dfu-util: manual firmware flashing in bootloader mode
	source = keychron-launcher-1.0.7.tar.gz::https://github.com/RaulKong898/keychron-launcher-desktop/archive/refs/tags/v1.0.7.tar.gz
	sha256sums = 90bdd6eacf548214ab9a99e3746cef515893f693a4f2f152026b163a374ca482

pkgname = keychron-launcher
