pkgbase = keychron-launcher
	pkgdesc = Unofficial native desktop wrapper for the Keychron Launcher web app (launcher.keychron.com), with WebHID support
	pkgver = 1.0.9
	pkgrel = 1
	url = https://github.com/RaulKong898/keychron-launcher-desktop
	arch = any
	license = MIT
	depends = electron
	optdepends = dfu-util: manual firmware flashing in bootloader mode
	source = keychron-launcher-1.0.9.tar.gz::https://github.com/RaulKong898/keychron-launcher-desktop/archive/refs/tags/v1.0.9.tar.gz
	sha256sums = b09be952d84ff9f72311cc4a9c6677364fdbb0ee49f3a395a335bc08f204bc72

pkgname = keychron-launcher
